
 {% extends "base.html" %}
 {% load customFilters %}

 {% block content %}
 <style>
  .chartContainer {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .chartBox {
    border: 1px solid black;
    flex-grow: 1;
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<script type="text/javascript">
  google.charts.load('current', {'packages':['bar','corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    if ({{nulldata}}==1) {
      console.log('null data')
      return;
    }
    console.log('not null data')

    if ({{stockPerformanceChartData|length}} >0) {
    var stockPerformanceChartData = new google.visualization.arrayToDataTable(
        [[{% for key in stockPerformanceChartData.0 %}'{{ key }}',{% endfor %}],
        {% for row in stockPerformanceChartData %}
        [{% for value in row.values %}{{ value|djangoDataToJs|safe }},{% endfor %}],
        {% endfor %}
        ]
    );
    console.log(stockPerformanceChartData)

    var stockPerformanceChartOptions = {
      title: 'Stock Performance',
      hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
      // vAxis: {minValue: 0},
      series: {
        0: {targetAxisIndex: 0},
        1: {targetAxisIndex: 1},
        2: {targetAxisIndex: 1}
      },
      vAxes: {
        // Adds titles to each axis.
        0: {title: 'Quantity', },
        1: {title: 'Value and Cost'}
      }
    };

    var stockPerformanceChart = new google.visualization.AreaChart(document.getElementById('area_chart_div'));
    stockPerformanceChart.draw(stockPerformanceChartData, stockPerformanceChartOptions);

    };

    if ({{stockHistoryChartData|length}} >0) {


    var stockHistoryChartData = new google.visualization.arrayToDataTable(
      [[{% for key in stockHistoryChartData.0 %}'{{ key }}',{% endfor %}],
        {% for row in stockHistoryChartData %}
        [{% for value in row.values %}{{ value|djangoDataToJs|safe }},{% endfor %}],
        {% endfor %}
        ]
    );
    console.log(stockHistoryChartData)

    stockHistoryChartData.setColumnProperty(1,'role','annotation');
    stockHistoryChartData.setColumnProperty(2,'role','data');
    stockHistoryChartData.setColumnProperty(3,'role','data');

   
    var stockHistoryChartOptions = {
      bars: 'vertical',
      isStacked: true,
      legend: { position: 'top', maxLines: 3 },
      seriesType: 'bars',
      hAxis: {
        title: 'Purchase Date'
      }, 
      series: {
        0: {targetAxisIndex: 0},
        1: {targetAxisIndex: 1},
      }
    };

    var stockHistoryChart = new google.visualization.ComboChart(document.getElementById('portfolio_columnchart_material'));
    stockHistoryChart.draw(stockHistoryChartData, stockHistoryChartOptions);
  };

  if ({{tickerData|length}} > 0) {
    
    var tickerData = new google.visualization.arrayToDataTable(
      [[{% for key in tickerData.0 %}'{{ key }}',{% endfor %}],
        {% for row in tickerData %}
        [{% for value in row.values %}{{ value|djangoDataToJs|safe }},{% endfor %}],
        {% endfor %}
        ]
    );

    var tickerDataOptions = {
          title: 'Stock Performance',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

    var tickerDatachart = new google.visualization.AreaChart(document.getElementById('ticker_area_chart'));
    tickerDatachart.draw(tickerData, tickerDataOptions);

    console.log(tickerData);

  };

   

  }

  
</script>

<h1 class="title">This is my portfolio</h1>
    <div class="listofbuttons">
      <form  method="POST">
        {% csrf_token %}
        {% for  key, value in chartTimeOptions.items %}
            <button type="submit" name="timeOption" value="{{ key }}">{{ value }}</button>
        {% endfor %}
      </form>
      
    {{ request.get_full_path }}

    <div style="display: flex; flex-wrap: wrap;">
      <div style="width: 200px; height: 50px; background-color: red; font-weight: bold;font-size: 200%;">{{var_value}} %</div>
      <div style="width: 200px; height: 50px; background-color: green; font-weight: bold;font-size: 200%;">{{var_cost}} %</div>
      {% if var_price %}
      <div style="width: 200px; height: 50px; background-color: blue; font-weight: bold;font-size: 200%;">{{var_price}} %</div>
      {% endif %}
    </div>

    {{min_value}}
    {{max_value}}
    {{min_cost}}
    {{max_cost}}
    {{min_price}}
    {{max_price}}
    </div>
    <div class="ChartContainer">
      {% if tickerName %}
       <div class="chartBox" id="ticker_area_chart"></div>
      {% endif %}
      {% if stockHistoryChartData %}
       <div class="chartBox" id="portfolio_columnchart_material"></div>
      {% endif %}
      {% if stockPerformanceChartData %}
       <div class="chartBox" id="area_chart_div"></div>
      {% endif %}
           
    </div>
   
    <div>
      stockHistoryChartData = {{stockHistoryChartData|length}}
      stockPerformanceChartData = {{stockPerformanceChartData|length}}
    </div>
    
    {% if portfolioData %}
    <table>
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Date Purchased</th>
          <th>Quantity</th>
          <th>Cost Basis</th>
          <th>Buy Type</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        
        {% for portfolio in portfolioData %}
          <tr>
            <td> <a href="{% url 'portfolio-ticker-view' portfolio.ticker %}" >{{portfolio.ticker}}</a></td>
            <td> {{portfolio.datePurchased}}</td>
            <td> {{portfolio.quantity}}</td>
            <td> {{portfolio.costBasis}}</td>
            <td> {{portfolio.buyType}}</td>
            <td> {{portfolio.country}}</td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
    {% endif %}
    <div>
      <a href="add/" class="button">Add new Stock</a>
    </div> 
    
 {% endblock content %}
 